
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.33%;
  margin-bottom: 20px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
  margin: 7px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color:maroon;
  color: white;
}

.container {
  padding: 0 20px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: maroon;
}
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: maroon;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color:pink;
  }

  .card {
    box-shadow: 0 100px 20000px 0 rgba(150, 34, 34, 0.911);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: rgba(209, 0, 0, 0.514);
    font-size: 15px;
  }
  
